.todo-button {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin-right: 0.5rem;
}
.add {
    color: #fefbe9;
    background-color: #f6c453;
}
.add:hover {
    color: #fefbe9;
    background-color: #f0a04b;
}
.delete {
    background-color: #fefbe9;
    color: #f0a04b;
    border: 1px solid #f0a04b;

    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; */
}
.delete:hover {
    color: #fefbe9;
    background-color: #f0a04b;
    border: 1px solid #f0a04b;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; */
}

.todo-button.done {
    color: #fefbe9;
    background-color: #f6c453;
    border: 1px solid #f6c453;
}
.todo-button.done:hover {
    color: #fefbe9;
    background-color: #f0a04b;
    border: 1px solid #f6c453;
}
.todo-button--small {
    font-size: 12px;
    padding: 10px 16px;
}
.todo-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}
.todo-button--large {
    font-size: 16px;
    padding: 12px 24px;
}

.login,
.back-to-list,
.description {
    color: #fefbe9;
    background-color: #f6c453;
}

.login:hover,
.back-to-list:hover,
.description:hover {
    color: #fefbe9;
    background-color: #f0a04b;
}
