.section--add-todo {
    margin: 3rem 0;
}

.todo-item {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.todo-date {
    font-weight: 300;
    font-size: 0.75rem;
    color: rgba(24, 58, 29, 0.7);
}

.todo-item.done {
    border: 1px solid rgb(53, 97, 53);
    background-color: #bcebae;
    opacity: 0.7;
}

.open {
    background-color: #fefbe9;
    border: 1px solid #f6c453;
    color: rgb(62, 142, 126);
}

.todo-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #183a1d !important;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.done .todo-title {
    color: white;
}

.done a {
    color: #183a1d !important;
    text-decoration: line-through;
}
.open a {
    color: rgb(62, 142, 126) !important;
    text-decoration: none;
}
