.section--add-todo {
    margin: 3rem 0;
}

.todo-item {
    padding: 1rem;
    margin: 1rem 0;
}
.todo-date {
    font-weight: 300;
    font-size: 0.75rem;
}

.done {
    border: 1px solid rgb(53, 97, 53);
    background-color: rgb(101, 187, 101);
    color: white;
}

.open {
    background-color: rgba(128, 0, 128, 0.2);
    border: 1px solid #800080;
}

.todo-title {
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(39, 37, 35);
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.done .todo-title {
    color: white;
}

.done a {
    color: white !important;
    text-decoration: line-through;
}
a {
    color: rgb(39, 37, 35) !important;
    text-decoration: none;
}
